@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #074392;
    color: #fff;
    text-align: center;
}

header {
    font-size: 20px;
}

main {
    font-size: 25px;
}

button {
    padding: 10px;
    font-size: 19px;
    font-weight: bold;
    border: 1px solid #fff;
}

button:hover {
    cursor: pointer;
    background-color: #074392;
    color: #fff;
}

a:link {
    color: #fff;
}

footer {
    padding-top: 10px;
}